* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232323;
    color: #cecece;
}

a {
    text-decoration: none;
    color: #5080a0;
}

.card {
    background-color: indigo; /**/
    height: 80vh;
    margin: 50px;
    border-radius: 20px;
}

.card h1 {
    margin-top: 20%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}

.card img {
    /* position: relative; */
    /* vertical-align: middle; */
    /* right: 5%; */
    width: 300px;
    border-radius: 50%;
    
}


footer {
    width: 100%;
    height: 30px;
    background-color: darkslategray;
}

.footer .lang-btn {
    margin-left: 5vw;
    text-align: left;
    line-height: 30px;
}

.footer .copyright {
    text-align: right;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .card h1 {
        position: relative;
        text-align: center;
        vertical-align: bottom;
        /* bottom: 30%; */

    }

    .card img {
        width: 200px;
        position: relative;
        /* top: 20%; */
    }
}
